@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --primary-navy-blue: #163066;
  --secondary-navy-blue: #3961B2;
  --tertiary-navy-blue: #85ACFF;
  --quaternary-navy-blue: #EBF1FF;
  --accent: #FFBD38;
  --primary-sky-blue: #1594CC;
  --secondary-sky-blue: #66D0FF;
  --tertiary-sky-blue: #B2E8FF;
  --quaternary-sky-blue: #E5F7FF;
  --neutral-black: #1E1E1E;
  --neutral-dark-gray: #525252;
  --neutral-light-gray: #E0E0E0;
  --neutral-white: #CCCCCCCC;

  /* Font family */
  --urbanist: "Urbanist", "sans-serif";
  --dm-sans: "DM Sans", "sans-serif";
}

@theme inline {
  --color-primary-navy-blue: var(--primary-navy-blue);
  --color-secondary-navy-blue: var(--secondary-navy-blue);
  --color-tertiary-navy-blue: var(--tertiary-navy-blue);
  --color-quaternary-navy-blue: var(--quaternary-navy-blue);
  --color-accent: var(--accent);
  --color-primary-sky-blue: var(--primary-sky-blue);
  --color-secondary-sky-blue: var(--secondary-sky-blue);
  --color-tertiary-sky-blue: var(--tertiary-sky-blue);
  --color-quaternary-sky-blue: var(--quaternary-sky-blue);
  --color-neutral-black: var(--neutral-black);
  --color-neutral-dark-gray: var(--neutral-dark-gray);
  --color-neutral-light-gray: var(--neutral-light-gray);
  --color-neutral-white: var(--neutral-white);

  /* Font family */
  --font-urbanist: var(--urbanist);
  --font-dm-sans: var(--dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--dm-sans);
}
