@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --primary-navy-blue: #163066;
  --secondary-navy-blue: #3961B2;
  --tertiary-navy-blue: #85ACFF;
  --quaternary-navy-blue: #EBF1FF;
  --quaternary-navy-blue-dark: #CBDAFF;
  --accent: #FFBD38;
  --primary-sky-blue: #1594CC;
  --secondary-sky-blue: #66D0FF;
  --tertiary-sky-blue: #B2E8FF;
  --quaternary-sky-blue: #E5F7FF;
  --neutral-white: #CCCCCCCC;
  --primary-white: #FFFFFF;
  --secondary-white: #D1D1D1;
  --tertiary-white: #A3A3A3;
  --quaternary-white: #7A7A7A;
  --primary-black: #1E1E1E;
  --secondary-black: #525252;
  --tertiary-black: #9E9E9E;
  --quaternary-black: #E0E0E0;
  --primary-background: #FAFAFA;
  --secondary-background: #F5F5F5;
  --disable-color: #CBCACE;
  --light-stroke: #EBEBEB;
  --medium-stroke: #CCCCCC;
  --dark-stroke: #A8A8A8;
  --blue-navigation-link-button:#007AFF;
  --error-clip: #FF2E37;
  --success-chip: #47D477;
  --information-chip: #41B1FC;
  --ai-animation: #F8A8AA;
  --warning-chip: #FFD828;
  --error-chip-bg-color: #FFE0E2;
  --success-chip-bg-color: #DBFFE7;
  --information-chip-bg-color: #DEF0FC;
  --warning-chip-bg-color: #FFF9E0;
  --gray-color: #666C7C;
  --status-text-lilac-sky: #2A1FB5;
  --status-bg-lilac-sky: #E0DEFF;
  --status-bg-sky-blue: #E0F2FE;
  --status-text-sky-blue: #0369A1;

  --status-error-text-color: #C2410C;
  --status-error-bg-color: #FFE5E0;
  --status-success-text-color: #065F46;
  --status-success-bg-color: #D1FAE5;
  --status-warning-text-color: #A16207;
  --status-warning-bg-color: #FFEDD5;

  --urbanist: "Urbanist", "sans-serif";
  --dm-sans: "DM Sans", "sans-serif";

  --AI-ButtonBorder: linear-gradient(42deg, #F8A8AA 7.93%, #FFA5E0 29.5%, #FFDFD7 38.64%, #FFB126 51.64%, #FF512B 77.37%);
}

@theme inline {
  --color-primary-navy-blue: var(--primary-navy-blue);
  --color-secondary-navy-blue: var(--secondary-navy-blue);
  --color-tertiary-navy-blue: var(--tertiary-navy-blue);
  --color-quaternary-navy-blue: var(--quaternary-navy-blue);
  --color-quaternary-navy-blue-dark: var(--quaternary-navy-blue-dark);
  --color-accent: var(--accent);
  --color-primary-sky-blue: var(--primary-sky-blue);
  --color-secondary-sky-blue: var(--secondary-sky-blue);
  --color-tertiary-sky-blue: var(--tertiary-sky-blue);
  --color-quaternary-sky-blue: var(--quaternary-sky-blue);
  --color-neutral-white: var(--neutral-white);
  --color-primary-white: var(--primary-white);
  --color-secondary-white: var(--secondary-white);
  --color-tertiary-white: var(--tertiary-white);
  --color-quaternary-white: var(--quaternary-white);
  --color-primary-black: var(--primary-black);
  --color-secondary-black: var(--secondary-black);
  --color-tertiary-black: var(--tertiary-black);
  --color-quaternary-black: var(--quaternary-black);
  --color-primary-background: var(--primary-background);
  --color-secondary-background: var(--secondary-background);
  --color-disable-color: var(--disable-color);
  --color-light-stroke: var(--light-stroke);
  --color-medium-stroke: var(--medium-stroke);
  --color-dark-stroke: var(--dark-stroke);
  --color-blue-navigation-link-button: var(--blue-navigation-link-button);
  --color-error-clip: var(--error-clip);  
  --color-success-chip: var(--success-chip);
  --color-information-chip: var(--information-chip);
  --color-warning-chip: var(--warning-chip);
  --color-error-chip-bg-color: var(--error-chip-bg-color);
  --color-success-chip-bg-color: var(--success-chip-bg-color);
  --color-information-chip-bg-color: var(--information-chip-bg-color);
  --color-warning-chip-bg-color: var(--warning-chip-bg-color); 
  --color-ai-animation: var(--ai-animation);
  --color-status-error-text-color: var(--status-error-text-color);
  --color-status-error-bg-color: var(--status-error-bg-color);
  --color-status-success-text-color: var(--status-success-text-color);
  --color-status-success-bg-color: var(--status-success-bg-color);
  --color-status-warning-text-color: var(--status-warning-text-color);
  --color-status-warning-bg-color: var(--status-warning-bg-color);
  --color-gray: var(--gray-color);
  --color-status-text-sky-blue: var(--status-text-sky-blue);
  --color-status-bg-sky-blue: var(--status-bg-sky-blue);
  --color-status-bg-lilac-sky: var(--status-bg-lilac-sky);
  --color-status-text-lilac-sky: var(--status-text-lilac-sky);
  --color-status-bg-rose-blush: #FEE2E2;
  --color-status-text-rose-blush: #B91C1C;

  /* Font family */
  --font-primary: var(--dm-sans);
  --font-secondary: var(--urbanist);
}


/* CUSTOM ANIMATIONS */

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeOut {
    animation: fadeOut 0.2s ease-in forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  .custom-bounce {
    animation: customBounce 1s infinite;
  }

  @keyframes customBounce {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-10px); /* Adjust for gentler bounce */
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-primary);
}

.theme-container {
  @apply max-w-[1520px] mx-auto;
}
.gradient-class {
  @apply bg-gradient-to-br from-[#1594CC] to-[#163066] 
}
.ai-analysis-btn {
  box-shadow: -2px -2px 10px 0px rgba(255, 134, 41, 0.20), 2px 2px 10px 0px rgba(255, 139, 203, 0.20);
}
.slick-list, .slick-track {
  height: 100%;
}

.slick-slide > div {
  height: 100%;
}

a:focus {
  outline: none;
}
.rounded-theme-r {
  @apply rounded-xl;
}
.theme-shadow {
  @apply shadow-[0px_0px_12px_0px_rgba(0,0,0,0.04)];
}

/* primetable css */

.p-datatable .p-datatable-thead > tr > th {
  background: transparent;
  color: var(--tertiary-black, #667085);
  font-weight: normal;
  font-size: 14px;
  border-bottom: 1px solid var(--light-stroke, #F0F1F3);
  text-align: left;
  padding: 1rem;
  white-space: nowrap;
}

.p-datatable .p-datatable-tbody > tr {
  border-bottom: 1px solid var(--light-stroke, #F0F1F3);
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 1rem;
  text-align: left;
  color: var(--secondary-black, #344054);
  font-size: 14px;
}

.placeholder-primary-black::placeholder {
  color: #000000 !important;
}

.placeholder-primary-white::placeholder {
  color: #ffffff !important;
}

.requests-table .p-inputtext {
  padding: 0;
}
.requests-table .p-dropdown {
  border: none;
}
.requests-table .p-dropdown .p-dropdown-trigger {
  width: max-content;
}
.requests-table .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 10px !important;
}
.p-datatable-thead {
  background-color: var(--quaternary-navy-blue);
}
.p-datatable-thead > tr > th {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: var(--primary-black) !important;
}

.diagnosis-card {
  border-radius: 8px;
  border: 1px solid var(--AI-Animation-1, #F8A8AA);
  background: var(--AI-Animation-BG, linear-gradient(92deg, #F7F1FF -3.46%, #FFEFEF 104.67%));
}

.magic-lines {
  padding: 2px;
  /* border: 2px solid var(--AI-ButtonBorder, #F8A8AA); */
  background: var(--AI-ButtonBorder);
  box-shadow: -2px -2px 10px 0px rgba(255, 134, 41, 0.20), 2px 2px 10px 0px rgba(255, 139, 203, 0.20);
}

.magic-title {
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(90deg, #F66568 23.8%, #A16CF9 75.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.option {
  color: var(--tertiary-black, #667085);
}
.first-card {
  border-radius: 16px;
  background: linear-gradient(315deg, #74F8FD 0%, #0000FD 97.67%);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.04);
}

.request-graph canvas {
  width: 100% !important;
}

.theme-datatable .p-datatable .p-datatable-header {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  border: none;
  background: transparent;
}

.theme-datatable .p-datatable .p-paginator-bottom {
  border: none;
}
/* Apply to the paginator container */
.custom-paginator .p-paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 16px;
}

/* Align current page report to left */
.custom-paginator .p-paginator-current {
  order: 0;
}

/* Align dropdown (rows per page) to right */
.custom-paginator .p-paginator-bottom .p-dropdown {
  order: 1;
  margin-left: auto;
  background-color: var(--status-bg-lilac-sky);
  height: 2.5rem;
  border-color: var(--status-bg-lilac-sky);
}

.custom-paginator .p-paginator .p-paginator-pages .p-paginator-page {
  border-radius: 8px;
}

.custom-paginator .p-paginator .p-paginator-current {
  color: var(--secondary-black);
}

.custom-paginator .p-column-title {
  color: var(--gray-color);
  font-weight: 300;
}

.custom-paginator > .p-datatable-wrapper > .p-datatable-table > .p-datatable-thead {
  border-radius: 8px;
}

.custom-paginator .p-paginator-bottom .p-dropdown .p-dropdown-trigger {
  color: var(--status-text-lilac-sky);
  width: 2rem;
}

.custom-paginator .p-paginator-bottom .p-dropdown .p-dropdown-label {
  color: var(--status-text-lilac-sky);
  line-height: 1rem;
  display: flex;
  align-items: center;
}
.status-dropdown .p-dropdown-trigger {
  padding: 0 !important;
  display: none !important;
}
.status-dropdown .p-dropdown-label {
  padding: 0 !important;
}

.p-accordion.theme-accordion .p-accordion-header .p-accordion-header-link {
  border: none;
  padding: 0;
  background-color: transparent;
  border-radius: 10px;
  font-size: 14px;
}
.p-accordion.theme-accordion .p-accordion-content {
  border: none;
}
.custom-paginator.p-datatable .p-datatable-tbody > tr > td {
  min-width: 200px;
  max-width: 200px;
}

.theme-datatable-accordion .p-accordion-header .p-accordion-header-link {
  border: none;
  padding: 0;
  background-color: transparent;
  border-radius: 10px;
  font-size: 14px;
  gap: 1rem;
}

.theme-datatable-accordion .p-accordion-content {
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}

.theme-datatable-accordion .p-datatable-wrapper {
  overflow: visible !important;
}

.custom-paginator.p-datatable > .p-datatable-wrapper {
  overflow: visible !important;
}

.custom-paginator.theme-table .p-datatable-wrapper {
  overflow-x: auto !important;
  overflow-y: visible !important;
}